In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2020-09-02 14:12:33,-42.88,147.33,54.00,66,20,10.29
1,1,Prainha,BR,2020-09-02 14:15:04,-1.80,-53.48,89.83,50,0,6.06
2,2,Severo-Kurilsk,RU,2020-09-02 14:15:05,50.68,156.12,53.40,79,100,8.16
3,3,Kodiak,US,2020-09-02 14:15:05,57.79,-152.41,51.80,81,90,1.61
4,4,Punta Arenas,CL,2020-09-02 14:15:05,-53.15,-70.92,37.00,72,90,5.82

In [35]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [36]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [55]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
neg_values= city_data_df["Max Temp"] <=0 
neg_values.sum()

0

In [56]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [61]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Prainha,BR,2020-09-02 14:15:04,-1.80,-53.48,89.83,50,0,6.06
5,5,Arraial Do Cabo,BR,2020-09-02 14:15:06,-22.97,-42.03,77.00,83,75,8.05
6,6,Arroyo,ES,2020-09-02 14:15:06,41.61,-4.80,81.00,29,0,5.82
7,7,Kavaratti,IN,2020-09-02 14:15:06,10.57,72.64,80.64,83,100,12.91
10,10,Mana,GF,2020-09-02 14:15:08,5.66,-53.78,84.43,62,0,7.87
14,14,Valdosta,US,2020-09-02 14:15:09,30.83,-83.28,80.60,83,90,5.57
17,17,Zhezkazgan,KZ,2020-09-02 14:15:10,47.80,67.71,87.80,12,0,6.71
23,23,Caravelas,BR,2020-09-02 14:15:12,-17.71,-39.25,78.51,56,3,10.25
26,26,Victoria,HK,2020-09-02 14:14:33,22.29,114.16,86.00,79,34,3.00
27,27,Hasaki,JP,2020-09-02 14:15:14,35.73,140.83,79.00,100,75,5.82

In [63]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [62]:
preferred_cities_df.count()

City_ID       206
City          206
Country       205
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [67]:
preferred_cities_df = preferred_cities_df.iloc[0:180,:]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Prainha,BR,2020-09-02 14:15:04,-1.80,-53.48,89.83,50,0,6.06
5,5,Arraial Do Cabo,BR,2020-09-02 14:15:06,-22.97,-42.03,77.00,83,75,8.05
6,6,Arroyo,ES,2020-09-02 14:15:06,41.61,-4.80,81.00,29,0,5.82
7,7,Kavaratti,IN,2020-09-02 14:15:06,10.57,72.64,80.64,83,100,12.91
10,10,Mana,GF,2020-09-02 14:15:08,5.66,-53.78,84.43,62,0,7.87
...,...,...,...,...,...,...,...,...,...,...
469,469,Dalianwan,CN,2020-09-02 14:17:25,39.03,121.69,79.00,64,48,8.95
470,470,Lata,PT,2020-09-02 14:17:25,40.16,-8.33,89.01,40,0,5.79
472,472,Luwuk,ID,2020-09-02 14:17:26,-0.95,122.79,77.99,78,100,3.89
474,474,Huilong,CN,2020-09-02 14:17:27,31.81,121.66,78.01,89,0,1.01
476,476,Jimeta,NG,2020-09-02 14:17:27,9.28,12.47,86.38,65,48,10.83

In [69]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1           Prainha      BR     89.83  -1.80  -53.48
5   Arraial Do Cabo      BR     77.00 -22.97  -42.03
6            Arroyo      ES     81.00  41.61   -4.80
7         Kavaratti      IN     80.64  10.57   72.64
10             Mana      GF     84.43   5.66  -53.78
14         Valdosta      US     80.60  30.83  -83.28
17       Zhezkazgan      KZ     87.80  47.80   67.71
23        Caravelas      BR     78.51 -17.71  -39.25
26         Victoria      HK     86.00  22.29  114.16
27           Hasaki      JP     79.00  35.73  140.83

In [70]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [79]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Prainha,BR,89.83,-1.80,-53.48,Hotel Brasília
5,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
6,Arroyo,ES,81.00,41.61,-4.80,Hotel El Jardín de la Abadía
7,Kavaratti,IN,80.64,10.57,72.64,Hotels in Lakshadweep Islands
10,Mana,GF,84.43,5.66,-53.78,LE SAMANA
14,Valdosta,US,80.60,30.83,-83.28,Courtyard by Marriott Valdosta
17,Zhezkazgan,KZ,87.80,47.80,67.71,Kvartiry Posutochno.
23,Caravelas,BR,78.51,-17.71,-39.25,Pousada dos Navegantes
26,Victoria,HK,86.00,22.29,114.16,Mini Hotel Central
27,Hasaki,JP,79.00,35.73,140.83,Inubosaki Kanko Hotel

In [82]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [87]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))